/* body{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
}
div{
    
    text-align: center;
} 


/* */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

div {
    text-align: center;
}
