

.news
{
    background-color: aqua;
    width:auto;
    padding: 10px 10px;
}

.mclaren
{
    border: solid black 2px;
    padding:10px 10px;
}
.image{
    width:50%;
    height:auto;
    padding: 20px 20px;


}
.car
{
    display:flex;
    justify-content:center;
   
   
}

.mc{
  font-size: 14px;
  text-align: center;
  
 margin-left: auto;
  color:rgb(27, 31, 23);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
